# CurseForge metadata
.curseclient

# Minecraft instance runtime files
.mixin.out/
.sable/
crash-reports/
data/
downloads/
io/
local/
logs/
mods/
net/
saves/
schematics/
shaderpacks/
patchouli_books/

# User-specific files
options.txt
usercache.json
usernamecache.json
ponders_watched.json
patchouli_data.json
command_history.txt
minecraftinstance.json

# Track these:
# kubejs/         - scripts and assets
# config/         - mod configurations
# defaultconfigs/ - default mod configurations
# datapacks/      - custom datapacks
# resourcepacks/  - custom resource packs
